@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section slider{
        @* Slide section *@
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int count = 0; count < Model.Slides.Count; count++)
            {
                <li data-target="#carouselExampleFade" data-slide-to="@count" class="@(count == 0 ? "active": "")"></li>
            }
        </ol>
        <div class="carousel-inner">
            @for (int count = 0; count < Model.Slides.Count; count++)
            {
                <div class="carousel-item @(count == 0 ? "active" : "")" data-interval="2000">
                    <img src="@Model.Slides[count].Image" class="d-block w-100" alt="@Model.Slides[count].Name">
                </div>
            }

        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
@* Next content code here *@
<div></div>
