
@{
    var isLogin = ViewBag.IsLogin;
    var categories = ViewBag.Categories;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Paris France Beauty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customize.css" />
    <link rel="stylesheet" href="~/css/productDetail.css" />
    <link rel="stylesheet" href="~/css/loginFrom.css" />
    <link rel="stylesheet" href="~/css/registerFrom.css" />
    <link rel="stylesheet" href="~/css/cartDetail.css" />
    <link rel="stylesheet" href="~/css/inforCart.css" />
    <link rel="stylesheet" href="~/css/billCart.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/inforAccount.css" />
    <link rel="stylesheet" href="~/css/search.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/c0378fb81e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0003/8718/6741/files/favicon_fc3d6d9d-ad9e-4948-ab41-e7c8af30e908_32x32.png?v=1589251208" type="image/png">
</head>
<body>
    @* Header *@
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@

    <div class="pageContainer">
        <div id="shopify-section-announcement" class="shopify-section">
            <div id="section-announcement" class="announcementBar__Wrapper">
                <div class="announcementBar">
                    <p class="announcement__content justify-content-center text-center">HOLIDAY SALES - MỸ PHẨM GIVENCHY & MAKE UP FOR EVER SIÊU GIẢM GIÁ 50%</p>
                </div>
            </div>
        </div>
        <div id="shopify-section-header" class="shopify-section shopify-section--header">
            <div class="header__wrapper d-flex">


                @* Logo *@
                <div class="header__logo" style="display: block; margin-left: 46%;">
                    <a href="/" class="header__logoLink">
                        <img class="header__logoimage header__logoimage--primary" src="/images/logo.png"
                             srcset="" width="170" alt="Paris France Beauty">
                    </a>
                </div>
                @* Horizontal List *@
                <div class="header__mainnav">

                    <ul class="horizontalList horizontalList__spacing d-flex items-center">
                        @if (isLogin == null || !isLogin)
                        {
                            <li class="horizontalList__item">
                                <a href="/user/login" class="d-block">Tài khoản</a>
                            </li>
                        }
                        else
                        {
                            var avatar = ViewBag.Avatar;
                            var userName = ViewBag.Name;

                            <div class="d-flex align-items-center position-relative account-section">
                                <img onclick="redirectToUserDetail()" class="rounded-circle mr-2 user-avatar" src="@avatar" />
                                <span onclick="redirectToUserDetail()" class="font-weight-bold user-name">@userName</span>
                                <ul class="user-menu position-absolute ">
                                    <span class="position-absolute triangle-top"></span>
                                    <li class="user-menu-items">
                                        <a href="/user/detail" class="user-menu-link">Thông tin cá nhân</a>
                                    </li>
                                    <li class="user-menu-items">
                                        <a href="/user/orderhistory" class="user-menu-link">Đơn hàng của tôi</a>
                                    </li>
                                    <li class="user-menu-items">
                                        <a href="/user/Logout" class="user-menu-link">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        <li class="horizontalList__item">
                            <a href="#" class="bg-white border-0 d-block" style="cursor: pointer;" data-toggle="dropdown" data-action="open-modal" aria-controls="search">
                                Tìm Sản Phẩm
                            </a>
                            <ul class="dropdown-menu" style="border-radius: 20px; border: none !important">
                                <li>
                                    <form asp-action="Search" asp-controller="Home" method="get">
                                        <input type="text" id="search" name="Keyword" style="font-size: 15px; font-weight: 600;" placeholder="Nhập từ khóa...">
                                        <button type="submit" id="btnSearch"></button>
                                        @*<a href="@Url.Action("Search", "Home")" id="btnSearch"></a>*@
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="horizontalList__item">
                            <a href="/cart/cartdetail" class="d-block" data-action="open-drawer" data-drawer-id="sidebar-cart" aria-label="Mở Giỏ Hàng">
                                <i class="fas fa-shopping-cart"></i>
                                Giỏ hàng(@if (ViewBag.Cart != null)
                                {
                                    <span class="header__cartCount" id="cartQuantity">@ViewBag.Cart.Products.Count</span>
                                }
                                else
                                {
                                    <span class="header__cartCount" id="cartQuantity">0</span>
                                })
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            @* Nav *@
            <nav class="header__mainnav justify-content-center text-center" aria-label="Main navigation">
                <ul class="horizontalList">
                    <li class="horizontalList__item dropDown" aria-haspopup="true">
                        <div class="megaMenu megaMenu--spacingEvenly dropdown-content" aria-hidden="false">
                            <div class="megaMenu__Inner">
                                <div class="megaMenu__Item megaMenu__Item--fit">
                                    <a class="megaMenu__Title" href="#">Sản phẩm</a>
                                    <ul class="linklist">
                                        @if (categories != null)
                                            @foreach (var item in categories)
                                            {
                                                <li class="linklist__Item">
                                                    <a class="link--secondary" href="/Search/@item.CategoryId">@item.CategoryName</a>
                                                </li>
                                            }
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
    @*</nav>*@
    @* header end==================================================================================================================================== *@
    @RenderSection("slider", required: false)
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    @* Container start ====================================================================================================================================*@

    @* Container end ==================================================================================================================================== *@





    @* footer end==================================================================================================================================== *@
    <div id="shopify-section-footer" class="shopify-section shopify-section--footer">
        <div class="footer_Container">
            <div class="footer_conent">
                <div class="footer__inner">
                    <div class="footer__block footer__block--links col l-4 m-12 c-12">
                        <h2 class="footer__title">VỀ PARIS FRANCE BEAUTY</h2>
                        <ul class="linklist">
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Lịch Sử Thương Hiệu</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Ưu Đãi Tặng Đối Tác</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Thông Tin Liên Hệ </a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Danh Sách Cửa Hàng</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Nộp Đơn Xin Việc</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Hợp Tác Kinh Doanh</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__block footer__block--links col l-4 m-12 c-12">
                        <h2 class="footer__title">QUY ĐỊNH & CHÍNH SÁCH</h2>
                        <ul class="linklist">
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Chính Sách & Quy Định Chung</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Chính Sách Bảo Mật</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Chính Sách Đổi Trả & Hoàn Tiền</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Chính Sách Vận Chuyển</a>
                            </li>
                            <li class="linklist__Item">
                                <a href="#" class="link link--primary">Quy Định & Hình Thức Thanh Toán</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__block footer__block--text col l-4 m-12 c-12">
                        <h2 class="footer__title">GIẤY PHÉP KINH DOANH</h2>
                        <div class="footer__content rte">
                            <p>
                                "Tất cả sản phẩm của PARIS FRANCE BEAUTY được độc quyền phân phối chính hãng bởi CÔNG TY TNHH TMDV&nbsp;
                                PHƯƠNG PHÁT."<br><br>"VPĐD: SAIGON TRADE CENTER - Phòng 609-610, 37 Tôn Đức Thắng, P. Bến Nghé, Q.1, Tp.&nbsp;HCM."
                                <br><br><strong>Email:</strong> <a href="mailto:parisfrance@phuongphat.com" title="mailto:parisfrance@phuongphat.com">
                                    parisfrance@phuongphat.com
                                </a><br><br><strong>Hotline:</strong>&nbsp;(+84) <strong>7838 109 06</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bct-section">
                    <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=51903">
                        <img alt="Đã Thông Báo Bộ Công Thương" src="~/images/BoCongThuong.png">
                    </a>
                </div>
                <div class="footer-aside d-flex" style="padding-top: 5px;">
                    <div style="margin-right: -90px;">
                        <a href="#">
                            <img class="img--footer" src="~/images/Amex.png" />
                        </a>
                    </div>
                    <div style="margin-right: -90px;">
                        <a href="#">
                            <img class="img--footer" src="~/images/JCB.png" />
                        </a>
                    </div>
                    <div style="margin-right: -90px;">
                        <a href="#">
                            <img class="img--footer" src="~/images/Mastercard.png" />
                        </a>
                    </div>
                    <div style="margin-right: -90px;">
                        <a href="#">
                            <img class="img--footer" src="~/images/visa.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* footer end==================================================================================================================================== *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

