
@{
    ViewData["Title"] = "Cảm ơn bạn đã mua sản phẩm của ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cart = ViewBag.Cart;
    var products = cart.Products;
    var imgUrlBase = "https://localhost:5001/user-content/";
    var order = ViewBag.Order;
}

<div class="content" data-content>
    <div class="wrap">
        <div class="main">
            <div class="main__header">
                <a href="#"><span class="logo__text justify-content-center">Cosmetics Online Shop</span></a>
            </div>
            <main class="main_content" role="main">
                <div class="step" data-step="thank_you" data-last-step="false">
                    <div class="step_sections">
                        <div class="section_header  os-header">
                            <img src="https://img.icons8.com/fluent-systems-regular/60/000000/instagram-check-mark.png" />
                            <div class="os-header__heading">
                                <h2 class="os-header__title"> Đặt hàng thành công</h2>
                                <span class="os-order-number">
                                    <span class="font-weight-bold heading-2">Mã đơn hàng</span> <span>@order.Id</span>
                                </span>
                                @if (cart.ClientId != null)
                                {
                                    <h2 class="os-header__title heading-3" id="main-header" tabindex="-1">
                                        Cảm ơn <span style="font-weight: 700">@ViewBag.Name!</span>
                                    </h2>
                                }
                            </div>
                        </div>
                        <div class="section">
                            <div id="section-content" style="box-shadow: 0 0 0 1px #d9d9d9; border-radius: 4px; padding: 0.8em 0.6em; ">
                                <div class="">
                                    <div>
                                        <h2>Đơn đặt mua của bạn đã được xác nhận</h2>
                                        <div class="os-step__special-description">
                                            <p>Cảm ơn bạn đã mua sản phẩm của chúng tôi. Đơn hàng của bạn đã được đăng ký và chúng tôi sẽ sớm liên hệ với bạn để xác nhận chi tiết giao hàng.</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="content-box__row--no-border">
                                        <h2 class="heading-2 os-step__title">Thông tin đặt hàng</h2>
                                        <div class="d-flex">
                                            <span class="font-weight-bold">Người nhận:</span>
                                            <span class="ml-2">@order.ShipName</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="font-weight-bold">Số điện thoại:</span>
                                            <span class="ml-2">@order.ShipPhoneNumber</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="font-weight-bold">Địa chỉ nhận:</span>
                                            <span class="ml-2 " style="flex:1;">@order.ShipAddress</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="font-weight-bold">Email</span>
                                            <span class="ml-2">@order.ShipEmail</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="font-weight-bold">Ghi chú:</span>
                                            <span class="ml-2">@order.Note</span>
                                        </div>
                                    </div>

                                    <div class="text-container mt-3">
                                        <h2 class="heading-2">Hình thức thanh toán</h2>
                                        <ul class="payment-method-list" style="list-style-type: none; padding-left: 0px;">
                                            <li class="payment-method-list__item">
                                                <span class="payment-method-list__item__info">Thanh toán khi được giao sản phẩm đến tận tay (Cash On Delivery)</span>
                                                <span class="payment-method-list__item__amount emphasis priceFormat">@cart.CartPrice</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step_footer mt-5">
                    <div class="sectionFooter">
                        <div class="wrapper">
                            <a href="/"><span class="text-uppercase">Tiếp tục mua hàng</span></a>
                        </div>
                    </div>
                    <a href="/cart/cartDetail" class="d-flex align-items-center justify-content-center ml-2 " style="text-decoration:none; color: #000;">Quay trở lại giỏ hàng</a>
                </div>

            </main>
            <footer class="main__footer" role="contentinfo">
                <ul class="policy-list" role="list">
                    <li class="policy-list__item ">
                        <a data-modal="policy-refund-policy" data-title-text="Chính sách hoàn tiền" data-close-text="Đóng" data-iframe="true" href="">Chính sách hoàn tiền</a>
                    </li>
                    <li class="policy-list__item ">
                        <a data-modal="policy-privacy-policy" data-title-text="Chính sách bảo mật cá nhân" data-close-text="Đóng" data-iframe="true" href="">Chính sách bảo mật cá nhân</a>
                    </li>
                    <li class="policy-list__item ">
                        <a data-modal="policy-terms-of-service" data-title-text="Điều khoản của dịch vụ" data-close-text="Đóng" data-iframe="true" href="">Điều khoản của dịch vụ</a>
                    </li>
                </ul>
            </footer>
        </div>
        @* Tóm Tắt sản phẩm *@
        <div class="sidebar order-detail-product-wrap" role="complementary">
            <div class="sidebar__header">
                <div class="sidebar__content">
                    @* Tóm tất sản phẩm *@
                    <div class="order-summary__section order-summary__section--product-list flex-column">

                        @foreach (var item in products)
                        {
                            <div class=" d-flex pt-3 order-items ">
                                <div class="product-thumbnail ">
                                    <div class="product-thumbnail__wrapper">
                                        <img alt="@item.ProductName" class="product-thumbnail__image" src="@imgUrlBase@item.ProductImage">
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <span class="product__description__name order-summary__emphasis text-wrap2">@item.ProductName</span>

                                    </div>
                                    <div class="d-flex align-items-start mx-2" style="font-size:12px;">
                                        <span class="mr-2">
                                            x
                                        </span>
                                        <span>
                                            @item.Quantity
                                        </span>
                                    </div>
                                    <span class="order-summary__emphasis skeleton-while-loading priceFormat">@item.ProductPrice</span>
                                </div>
                            </div>
                        }
                    </div>

                    @* Tổng chi phí *@
                    <div class="order_section order_section--total" data-order-summary-section="payment-lines">
                        <table>
                            @*  table *@
                            <caption class="visually-hidden">Tổng chi phí</caption>
                            <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                                </tr>
                            </thead>
                            @* Phụ Tổng *@
                            <tbody class="total_table__tbody">
                                <tr class="total-line total-line--subtotal">
                                    <th class="total_name" scope="row">Phụ Tổng</th>
                                    <td class="total_price">
                                        @* price *@
                                        <span class="order_emphasis skeleton-while-loading priceFormat" data-checkout-subtotal-price-target="300000000">
                                            @cart.CartPrice
                                        </span>
                                    </td>
                                </tr>
                                @* Phí Giao Hàng *@
                                <tr class="total-line total_shipping">
                                    <th class="total_name" scope="row">
                                        <span>
                                            Phí giao hàng
                                        </span>

                                    </th>
                                    @* Calculated at next step *@
                                    <td class="total_price">
                                        <span class=" order_text" data-checkout-total-shipping-target="0">
                                            Miễn phí
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            @* Tổng cộng *@
                            <tfoot class="total_table__footer">
                                <tr class="total-line">
                                    <th class="total_name payment-due-label" scope="row">
                                        <span class="payment_total">Tổng Cộng</span>
                                        @* Thuế *@
                                        <span class="payment_taxes order_text">
                                            @{
                                                var vat = cart.CartPrice / 10;
                                            }
                                            Đã bao gồm Thuế VAT: <span class="priceFormat" data-checkout-total-taxes-target="27272700">@vat</span>
                                        </span>
                                    </th>

                                    @* Giá  *@
                                    <td class="total_price payment-due" data-presentment-currency="VND">
                                        <span class="payment_price priceFormat" data-checkout-payment-due-target="300000000">
                                            @cart.CartPrice
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




