
@{
    ViewData["Title"] = "Your Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var cart = ViewBag.Cart;
    var imgUri = "https://localhost:5001/user-content/";
}
@section Scripts{
    <script>
        const makeFormatCurrency = (element, newPrice) => {
            const newPriceFm = newPrice.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })
            element.innerText = newPriceFm;
        }
        const removeProductFromCart = (removeId) => {
            $.ajax(
                {
                    type: "delete",
                    url: `/cart/RemoveProduct`,
                    data: { removeId },
                    async: true,
                    success: async  function ({ result, message }) {
                        if (result) {
                            $('#notificationMsg').removeClass('d-none').addClass('d-block').html(message);
                            await new Promise(resolve => setTimeout(() => {
                                $('#notificationMsg').fadeOut('slow');
                                resolve();
                            }, 1500))
                        
                            location.reload();
                        }
                    },
                    failure: function (response) {
                        alert('false')
                    },
                    error: function (response) {
                        alert('error')
                    }
                });
        }
        const handleInput = ({ productId, increment }) => {

            $.ajax(
                {
                    type: "put",
                    url: `/cart/UpdateCart`,
                    data: { productId, increment },
                    async: true,
                    success: function ({ hasRemove, message, newQuantity, newTotalPrice, status, newCartPrice }) {
                        if (hasRemove) {
                            location.reload();
                        }
                        if (status >= 200 && status < 300) {
                            const quantity = document.getElementById(`productQuantity_${productId}`);
                            quantity.innerText = newQuantity;
                            const totalPrice = document.getElementById(`totalPriceProduct_${productId}`)
                            const cartPrice = document.getElementById(`cartPrice`);
                            makeFormatCurrency(totalPrice, newTotalPrice);
                            makeFormatCurrency(cartPrice, newCartPrice);
                        }
                    },
                    failure: function (response) {
                        alert('false')
                    },
                    error: function (response) {
                        alert('error')
                    }
                });
        }
    </script>
}
<div id="main">
    <div class="container">
        <div class="pageHeader">
            <div class="sectionHeader justify-content-center text-center">
                <h1 style="font-size: 24px; letter-spacing: 2px;">Giỏ Hàng Của Bạn</h1>
            </div>
        </div>
        <div id="notificationWrap" class="w-25 position-fixed d-flex items-center" style="top:40px; left:50%; transform:translateX(-50%); z-index:100;">
            <span id="notificationMsg" class="alert alert-success w-100 d-none" role="alert">
            </span>
        </div>
        <div class="pageContent">
            @if (cart != null && cart.Products.Count > 0)
            {
                <form action="#" method="POST" class="">
                    <div class="cart__ItemList">
                        <div class="cart__head d-flex" style="font-size: 13px;">
                            <span class="cart__HeadItem text--subdued d-block" style="flex:1">Sản Phẩm</span>
                            <span class="cart__HeadItem text--subdued" style="flex:3">Thông tin sản phẩm</span>
                            <span class="cart__HeadItem text--subdued text-center" style="flex:2">Số Lượng</span>
                            <span class="cart__HeadItem text--subdued text-right" style="flex:1">Tổng Cộng</span>
                        </div>
                    </div>
                    @foreach (var product in cart.Products)
                    {
                        <div class="cart_Item d-flex mt-2" id="product_@product.Id">
                            <div class="cartItem__imageWrapper " style="flex:1">
                                <div class="aspectRatio">
                                    <a class="d-block pr-2" href="/product/@product.Id">
                                        <img class="w-100 rounded squareShape" src="@imgUri@product.ProductImage" alt="@product.ProductName" />
                                    </a>
                                </div>
                            </div>
                            <div class="" style="flex:3">
                                <h2 class="cartItem__Title">
                                    <a href="/product/@product.Id">@product.ProductName</a>
                                </h2>
                                <div class="cartItem__Meta text--subdued">
                                    <div class="cartItem__PriceList "><span class="cartItem__Price priceFormat">@product.ProductPrice</span></div>
                                </div>
                            </div>

                            <div class="cartItem__Actions text-center" style=" flex:2">
                                <div class="cartItem__QuantitySelector">
                                    <div class="quantitySelector">
                                        <span class=" quantitySelector__Button" onclick="handleInput({ productId: @product.Id,increment: false })" data-action="increase-quantity" style="cursor: pointer">
                                            <img style="width: 11px;" src="~/images/icons8-subtract-24.png" alt="Alternate Text" />
                                        </span>
                                        <span id="productQuantity_@product.Id" class="quantitySelector__CurrentQuantity" style="cursor:default;">@product.Quantity</span>
                                        <span onclick="handleInput({ productId: @product.Id,increment: true, elementId: 'product_@product.Id' })" class=" quantitySelector__Button" data-action="increase-quantity" style="cursor: pointer">
                                            <img style="width: 11px;" src="~/images/icons8-addtion.png" alt="Alternate Text" />
                                        </span>
                                    </div>
                                </div>
                                <a href="#" onclick="removeProductFromCart(@product.Id)" class="cartItem__Remove link--underline" data-action="remove-item">Xóa</a>
                            </div>
                            <div class="cartItem__Actions text-right" style="flex:1">
                                @{
                                    var totalPrice = product.ProductPrice * product.Quantity;
                                }
                                <span class="cartItem__LinePrice text--subdued text-align-end priceFormat" id="totalPriceProduct_@product.Id" data-money-convertible="">@totalPrice</span>
                            </div>
                        </div>
                    }
                    <div class="cart__Footer">
                        <div class="cart__NoteContainer">
                            <span>Ghi chú:</span>
                            <textarea class="cart__Note form__Textarea" style="color: #cfa247;" name="note" id="cart-note" rows="5" placeholder="Nếu quý khách có yêu cầu xuất hoa đơn, vui lòng điền thông tin vào đây, PARIS FRANCE BEAUTY sẽ giao sản phẩm kèm với hóa đơn cho quý khách. Ngoài ra, nếu quý khách có thêm yêu cầu hay ý kiến gì vui lòng điền vào đây. Cám ơn quý khách!"></textarea>
                        </div>
                        <div class="cart__Recap">
                            <span class="cart__Total text-right font-weight-bold">
                                Tổng cộng: <span data-money-convertible="">
                                    <span class="saso-cart-original-total priceFormat" id="cartPrice">@cart.CartPrice</span><br>
                                </span>
                            </span>
                            <span class="cart__Taxes text--subdued">Giá đã bao gồm thuế VAT và phí giao hàng miễn phí</span> <br>
                            <div class="sectionFooter mt-3">
                                <div class="wrapper d-flex justify-content-end">
                                    <a href="/cart/infororder" class="text-uppercase text-center"><span>Xác nhận</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <span class="text-center d-block">Giỏ hàng của bạn chưa có sản phẩm.</span>
                <div class="sectionFooter mt-3">
                    <div class="wrapper d-flex justify-content-center">
                        <a href="/" class="text-uppercase text-center"><span>Quay lại trang chủ</span></a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



