@model Cosmetics.ViewModels.Catalogs.Orders.ClientCreateOrderViewModel
@{
    ViewData["Title"] = "Thông Tin Đặt Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cart = ViewBag.CartDetail;
    var products = cart.Products;
    var imgUrlBase = "https://localhost:5001/user-content/";
}

<div class="content" data-content>
    <div class="wrap">
        <div class="main">
            <div class="main__header">
                <a href="#"><span class="logo__text justify-content-center">Cosmetics Shop</span></a>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-center justify-content-center" role="list">
                        <li class="breadcrumb-item">
                            <a href="/cart/cartdetail" class="breadcrumb-link">Giỏ Hàng</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="breadcrumb-link" style=" color: black;">Thông Tin Đặt Hàng</span>
                        </li>
                    </ol>
                </nav>
            </div>
            <main class="main_content" role="main">
                <div class="step" data-step="contact_information" data-last-step="false">
                    <form class="edit_checkout animate-floating-labels" asp-action="InforOrder" asp-controller="Cart" method="post">
                        <div class="step_sections">
                            <div class="section_header">
                                <div class="layout-flex layout-flex--tight-vertical layout-flex--loose-horizontal layout-flex--wrap">
                                    <h2 class="section__title layout-flex__item layout-flex__item--stretch" id="main-header" tabindex="-1">
                                        Địa Chỉ Nhận Hàng
                                    </h2>

                                    @if (!ViewBag.isLogin)
                                    {
                                        <p class="layout-flex__item">
                                            <span aria-hidden="true">Bạn đã có tài khoản?</span>
                                            <a href="/user/login">
                                                <span class="visually-hidden">Bạn đã có tài khoản?</span>
                                                Đăng Nhập
                                            </a>
                                        </p>
                                    }
                                </div>
                            </div>
                            <div class="step_sections">
                                <div id="customer_login" accept-charset="UTF-8" name="login" class="form form--spacingTight" style="display: block">
                                    <input type="hidden" name="form_type" value="customer_login">
                                    <input type="hidden" name="utf8" value="✓">

                                    <div class="form__Item">
                                        <input class="form__Input" asp-for="ClientName" required="required" placeholder="Họ và Tên" aria-label="name" autofocus="">
                                        <label class="form__FloatingLabel">Họ và Tên</label>
                                        <span asp-validation-for="ClientName" class="text-danger"></span>
                                    </div>
                                    <div class="form__Item">
                                        <input class="form__Input" asp-for="ClientNote" placeholder="Ghi chú của bạn (không bắt buộc điền)" aria-label="Ghi chú">
                                        <label class="form__FloatingLabel">Ghi chú của bạn (không bắt buộc điền)</label>
                                    </div>
                                    <div class="form__Item">
                                        <input class="form__Input" asp-for="ShipAddress" placeholder="Địa chỉ" aria-label="address">
                                        <label class="form__FloatingLabel">Địa chỉ</label>
                                        <span asp-validation-for="ShipAddress" class="text-danger"></span>
                                    </div>
                                    <div class="form__Item">
                                        <input class="form__Input" asp-for="ShipPhone" placeholder="Số điện thoại" aria-label="address">
                                        <label class="form__FloatingLabel">Số điện thoại</label>
                                        <span asp-validation-for="ShipPhone" class="text-danger"></span>
                                    </div>
                                    <div class="field field--show-floating-label">
                                        <div class="checkbox-wrapper">
                                            <div class="checkbox_input">
                                                <input class="input-checkbox" id="checkout_remember_me" type="checkbox" asp-for="SaveShipInfo">
                                                <label class="checkbox__label" for="checkout_remember_me">
                                                    Lưu lại thông tin của tôi trên hệ thống để sử dụng lại lần sau
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step_footer" data-step-footer>

                                <div class="sectionFooter__cart">
                                    <div class="wrapper">
                                        <button name="button" type="submit" href="#" class="justify-content-center text-center"><span>HOÀN TẤT ĐƠN HÀNG</span></button>
                                    </div>
                                </div>

                                <span class="step__footer__previous-link d-flex align-items-center ml-4">
                                    <a href="/cart/cartdetail" class="step__footer__previous-link-content">Quay trở lại giỏ hàng</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

            </main>

        </div>
        @* Tóm Tắt sản phẩm *@
        <div class="sidebar order-detail-product-wrap" role="complementary">
            <div class="sidebar__header">
                <div class="sidebar__content">
                    @* Tóm tất sản phẩm *@
                    <div class="order-summary__section order-summary__section--product-list flex-column">

                        @foreach (var item in products)
                        {
                            <div class=" d-flex pt-3 order-items ">
                                <div class="product-thumbnail ">
                                    <div class="product-thumbnail__wrapper">
                                        <img alt="@item.ProductName" class="product-thumbnail__image" src="@imgUrlBase@item.ProductImage">
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <span class="product__description__name order-summary__emphasis">[New] Carolina Herrera Very Good Girl EDP</span>

                                    </div>
                                    <div class="d-flex align-items-start mx-2" style="font-size:12px;">
                                        <span class="mr-2">
                                            x
                                        </span>
                                        <span>
                                            @item.Quantity
                                        </span>
                                    </div>
                                    <span class="order-summary__emphasis skeleton-while-loading">@item.ProductPrice</span>
                                </div>
                            </div>
                        }
                    </div>

                    @* Tổng chi phí *@
                    <div class="order_section order_section--total" data-order-summary-section="payment-lines">
                        <table>
                            @*  table *@
                            <caption class="visually-hidden">Tổng chi phí</caption>
                            <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                                </tr>
                            </thead>
                            @* Phụ Tổng *@
                            <tbody class="total_table__tbody">
                                <tr class="total-line total-line--subtotal">
                                    <th class="total_name" scope="row">Phụ Tổng</th>
                                    <td class="total_price">
                                        @* price *@
                                        <span class="order_emphasis skeleton-while-loading" data-checkout-subtotal-price-target="300000000">
                                            @cart.CartPrice 
                                        </span>
                                    </td>
                                </tr>
                                @* Phí Giao Hàng *@
                                <tr class="total-line total_shipping">
                                    <th class="total_name" scope="row">
                                        <span>
                                            Phí giao hàng
                                        </span>

                                    </th>
                                    @* Calculated at next step *@
                                    <td class="total_price">
                                        <span class=" order_text" data-checkout-total-shipping-target="0">
                                            Calculated at next step
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            @* Tổng cộng *@
                            <tfoot class="total_table__footer">
                                <tr class="total-line">
                                    <th class="total_name payment-due-label" scope="row">
                                        <span class="payment_total">Tổng Cộng</span>
                                        @* Thuế *@
                                        <span class="payment_taxes order_text">
                                            @{ 
                                                var vat = cart.CartPrice / 10;
                                            }
                                            Đã bao gồm Thuế VAT: <span data-checkout-total-taxes-target="27272700">@vat</span>
                                        </span>
                                    </th>

                                    @* Giá  *@
                                    <td class="total_price payment-due" data-presentment-currency="VND">
                                        <span class="payment_price" data-checkout-payment-due-target="300000000">
                                            @cart.CartPrice
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
